.header{
    margin-left: 20px;
    font-size: 26px;
    color: rgb(71, 226, 193);
    letter-spacing: 1.3px;
    font-weight: 900;
    text-align: center;
}

.loader{
    margin: 0 auto;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 90%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.96);
}
.loader img{
    position: relative;
    top: 30%;
    opacity: 100%;
}

.tableMain {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin: 0 auto;
    width: 70%;
}

.headTable th{
    cursor: pointer;
    color: rgb(71, 226, 193);
    letter-spacing: 1px;
}
.timeAgo{
    font-size: 12px;
    font-style: italic;
    opacity: 80%;
}

.RowLeft, .RowRight{
    font-size: 14px;
    padding: 0 10px;
    width: 25%;
    height: 56px;
    text-align: center;
    color: rgb(77, 92, 89, 0.9);
    border-bottom: 1px solid rgb(77, 92, 89, 0.05);
} 
.RowRight a {
    text-decoration: none;
    color: rgb(71, 226, 193);
}

.RowCentral{
    padding: 5px 10px 5px;
    width: 93%;
    height: 56px;
    text-align: left;
    border-bottom: 1px solid rgb(77, 92, 89,0.05);
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; 
}

.RowCentral a{
    text-decoration: none;
    color: rgb(77, 92, 89);
}
